<section class="section-wrapper section-education">
  <div class="container-fluid">
      <div class="row border-bottom mb-5">
          <div class="col-md-12">
              <div class="section-title">

                  <!-- You can use glitches instead of scramble text -->
                  <!-- <app-home-glitch [text]="'Education'" ></app-home-glitch> -->

                  <!-- Using Scramble text as default -->
                  <app-scramble-text [text]="'Education'" ></app-scramble-text>
              </div>
          </div>
      </div>



            <!-- timeline item 1 -->
            <div class="row" *ngFor="let edu of educationList">
                <!-- timeline item 1 left dot -->
                <div class="text-center flex-column d-sm-flex px-2">

                    <h5>
                        <span class="badge badge-pill p-3 bg-primary">{{ edu.chars }}</span>
                    </h5>
                    <div class="row h-50">
                        <div class="col custom-border border-primary">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                </div>
                <!-- timeline item 1 event content -->
                <div class="col py-2">
                    <div class="card border-0">
                        <div class="card-body bg-dark custom-card-border">
                            <small class="h4 card-title text-muted">{{ edu.institution }},</small><small> {{ edu.location }}</small>
                            <small class="h6 card-text d-block"> {{ edu.courseOfStudy }}{{ edu.gradeScore }} </small>
                            <small>{{ edu.duration() }} </small>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
        </div>

</section>

