
  <div class="custom-navbtn sticky-top">
    <div class="list-group retro-font">
      <a (click)="close()" [routerLink]="['/home']" class="list-group-item list-group-item-action"><h1>
        <app-wrapper-sidebar-glitch [firstWord]="'Bald•'" [secondWord]="'A-P-E'" ></app-wrapper-sidebar-glitch>
          <img src="/assets/img/favicon.png" class="pb-3" height="60" >
        </h1>
      </a>
      <!-- <a (click)="close()" [routerLink]="['/about-me']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action">About me</a> -->
      <a *ngIf="(AppUser | async)" (click)="close()" [routerLink]="['/skills']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action">Skills</a>
      <a (click)="close()" [routerLink]="['/experience']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action">Experience</a>
      <a (click)="close()" [routerLink]="['/education']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action">Education</a>
      <a (click)="close()" [routerLink]="['/portfolio']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action">Portfolio</a>
      <a (click)="close()" [routerLink]="['/contact']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action">Get in touch</a>
      <a
        *ngIf="!(AppUser | async)"
        (click)="justClose()"
        [routerLink]="['/auth']"
        routerLinkActive="router-link-active"
        class="list-group-item list-group-item-action">Login</a>
      <a *ngIf="(AppUser | async)" (click)="logout(); justClose()" [routerLink]="['/home']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action">
        logout
      </a>
    </div>
  </div>
