
  <section class="section-wrapper portfolio-section">
        <div class="container-fluid">
            <div class="row border-bottom mb-5">
                <div class="col-md-12">
                    <div class="section-title">
                            <app-home-glitch [text]="'Portfolio'" ></app-home-glitch>
                            <button (click)="addPortfolio()" class="bg-success" mat-fab> <mat-icon>add</mat-icon> </button>  
                    </div>
                </div>
            </div>
            <div class="row text-white">
                  <div class="col-md-6 mb-3" *ngFor="let port of portfolios">
                      <div class="card bg-dark shadow border-primary" style="width: 18rem;" >
                          <div class="card-body">
                              <h2 class="card-title">
    
                                    {{ port.projectName }}
                                    <mat-icon (click)="editPortfolio(port)" class="icons" aria-hidden="false" aria-label="edit icon">edit</mat-icon>
                                    <mat-icon (click)="deleteExperience(port)" class="icons" aria-hidden="false" aria-label="delete icon">delete</mat-icon> 
                                </h2>
    
                              
                              <p class="card-text border-bottom pb-1">
                                  <span class="d-block">{{ port.description }}</span>
                                  <a target="_blank" class="btn btn-primary btn-sm border-0" [href]="port.url">visit website</a>
                              </p>
                              <span *ngFor="let tool of getTools(port.projectName)" 
                                class="badge mr-2"
                                [ngClass] = "'badge-' + tool.color"
                                >
                                {{ tool.name }}
                              </span>
                          </div>
                      </div>
                  </div>
      
            </div>
            <!-- /.row -->
        </div>
      </section>
      <!-- .portfolio -->