<section class="intro section-wrapper text-white">
    <div class="container-fluid">
        <div class="row border-bottom mb-5">
            <div class="col-md-12">
                <div class="section-title">
                        <app-home-glitch [text]="'What I\'m all about'" ></app-home-glitch>
                </div>
            </div>
        </div>
        
        <div class="col-12">
                <p>
                 {{ profile?.description_1 }}
                </p>

                <p>
                    {{ profile?.description_2 }}
                </p>
            </div>

        <div class="col-12">
            <h1>Skills</h1>
            <div class="col-12 mb-2 border-bottom border-secondary">
                <span class="h5">Back End</span><br>
                <span *ngFor="let skill of backEnd"
                    class="badge mr-2"
                    [ngClass] = "'badge-' + skill.color"
                    >
                    {{ skill.skillName }} - {{ skill.years }} year(s) of experience
                    </span>

            </div>

            <div class="col-12 mb-2 border-bottom border-secondary">
                <span class="h5">Front End</span><br>
                <span *ngFor="let skill of backEnd"
                    class="badge mr-2"
                    [ngClass] = "'badge-' + skill.color"
                    >
                    {{ skill.skillName }} - {{ skill.years }} year(s) of experience
                    </span>

            </div>
            
            <div class="col-12 mb-2 border-bottom border-secondary">
                <span class="h5">Others</span><br>
                <span *ngFor="let skill of others"
                    class="badge mr-2"
                    [ngClass] = "'badge-' + skill.color"
                    >
                    {{ skill.skillName }} - {{ skill.years }} year(s) of experience
                    </span>

            </div>
            <small><a [routerLink]="['/skills']" >view all skills</a></small>
        </div>
    </div>
</section>